*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Oswald', sans-serif;
    background: url(img/Screenshot_3.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    width: 440px;
    margin: 20% auto;
    
}
.login-section{
    background-color: skyblue;
    padding: 25px;
    border-radius: 10px;
}
.login-section img{

    margin: 0 auto;

    display: block;

    width: 210px;
}

.login-section h5{
    
    text-align: center;

    color: rgb(72 80 95);

    margin: 10px 0;

    font-size: 32px;
}

.login-section h5{
    
    text-align: center;

    color: rgb(40 96 196);

    margin: 10px 0;

    font-size: 31px;
}

input[type="text"]{
    width: 373px;
    height: 39px;

    padding: 5px;
    margin-bottom: 15px;

    border: 1px;
    border-radius: 8px;
}

input[type="email"]{
    width: 373px;
    height: 39px;

    padding: 5px;
    margin-bottom: 15px;

    border: 1px;
    border-radius: 8px;
}


input[type="password"]{
    width: 373px;
    height: 39px;

    padding: 5px;
    margin-bottom: 17px;

    border: 1px;
    border-radius: 8px;
}
.maergin_botton{
    margin-bottom: 15px;
}
.btn{
    border: 1px solid #ddd;
    padding: 12px 37px;
    box-shadow: 1px 2px 4px #131212;
    margin: 0px auto;
    display: block;
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
    border-radius: 7px;
   
}

.btn:hover{
    background: #03a9f4;
    color: rgb(255, 255, 255);
}
.forgot-rtl{
    direction: rtl;
}